body{
	height: 100vh;
	color: #616161;
}

.link{
	color: rgb(38, 166, 154);
}

.margin-top{
	margin-top:2em;
}

.mainTable{
	margin-top: 2em;
}

.title{
	margin-top: 2em;
	margin-left: 2em;
}
.searchBar{
	width: 80%;
	margin-left: 10%;
font-size: 14px;
}

.bothrows{
	height: 70vh;
	overflow-x: scroll;
}

.editSearch{
	margin-top: 100px;
}